.title-header{
    font-size: 54px;
}
.content-header{
    margin-top: 100;
}
@media (max-width: 576px) {
    .title-header{
        font-size: 27px;
    }
    .content-header{
        margin-top: 50;
    }
}
@media (max-width: 992px) {
    .title-header{
        font-size: 36px;
    }
}