.progress2 {
    padding-top: 120px;
    padding-left: 100px;
    padding-right: 50px;
}
.isiprog{
    margin-top: 250px;
}
@media (max-width: 992px) {
    .progress2 {
        padding-top: 0px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .isiprog{
        margin-top: 100px;
    }
}